.add_package_section{
	display: grid;

	grid-template-rows: 10% auto 10%;
	grid-template-columns: 15% auto 15%;

	.add_package_form{
		grid-column-start: 2;
		grid-column-end: 3;

		grid-row-start: 2;
		grid-row-end: 3;

		.ap_form{

			fieldset{
				background-color: white;
				border-left: 4px solid yellow;
				border-color: darken(yellow, 20%);
				padding: 10px 30px;
				margin-top: 20px;
				margin-bottom: 20px;

				input, textarea{
					width: 100%;
				}

				.package_form_status{

					.status_publish{
						color: green;
						font-weight: bold;
					}

					.status_draft{
					
					}

				}

			}

			.ap_form_misc{
				display: grid;

				grid-template-columns: auto auto auto;
			}

			.ap_form_body{

				.ap_form_body_buttons{
					display: grid;
					margin-bottom: 20px;

					grid-template-columns: auto auto auto;
					grid-column-gap: 10px;

					button{
						background-color: teal;
						color: white;
						border: 1px solid;
						padding-top: 10px;
						padding-bottom: 10px;
					}

					.apf_add_text{

					}

				}

			}

			.ap_form_finish_buttons{
				display: grid;

				grid-template-columns: auto auto;
				grid-column-gap: 10px;

				button{
					padding-top: 15px;
					padding-bottom: 15px;
					color: white;
					border: 1px solid;
				}

				.apf_submit{
					background-color: lighten(black, 10%);
				}

				.apf_delete{
					background-color: lighten(black, 20%);
				}

			}

		}

	}

}