.all_videos_section{
	display: grid;

	grid-template-columns: 10% auto 10%;
	grid-template-rows: auto auto auto auto auto;
	grid-row-gap: 20px;

	.index_title{
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.all_videos_filters{
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;

		display: grid;

		grid-template-rows: auto auto;
		grid-row-gap: 20px;

		.av_sort_search{
			display: grid;

			grid-template-columns: auto auto;

			.av_sort{

			}

			.av_search{
				grid-column-start: 2;
				justify-self: end;
			}

		}

		.av_filter_page_bulk_action{
			display: grid;

			grid-template-columns: auto auto auto auto;

			.av_page_filter{
				justify-self: center;
			}

			.av_bulk_action{
				grid-column-start: 4;
				justify-self: end;
			}

		}

	}

	.all_videos_table{
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 3;

		display: grid;
		grid-row-gap: 15px;

		.avt_row{

			.avt_headers_checkbox, .avt_row_checkbox{

				line-height: 3;

			}

			p{
				margin-bottom: 0;
				line-height: 2.8;
				font-weight: bold;
			}

			a{
				margin-bottom: 0;
				line-height: 2.8;
				color: darken(blue, 15%);
			}
			a:hover, a:active{
				color: lighten(blue, 15%);
				font-weight: bold;
			}

		}

		.avt_headers{
			display: grid;
			text-align: center;
			background-color: lighten(grey, 20%);

			grid-template-columns: 30px auto auto auto;
		}

		.avt_results{
			display: grid;
			text-align: center;
			background-color: white;
			padding-top: 15px;
			padding-bottom: 15px;

			grid-template-columns: 30px auto auto auto;
			grid-row-gap: 10px;

			.avt_row_checkbox{
			}

			.avt_row_column{

				a{
					

					img{
						height: 200px;
					}

				}

			}

			.avt_row_info{
				text-align: left;
			}

		}

	}

	.all_videos_pagination{
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 2;
		grid-column-end: 3;

		display: grid;
		grid-template-columns: 40% 20% 40%;

		.pagination_center{
			grid-column-start: 2;
			font-size: 1.3rem;

			display: grid;
			grid-template-columns: auto auto auto auto auto;
			justify-items: center;
		}

	}

}