.all_posts_section{
	display: grid;

	grid-template-columns: 10% auto 10%;
	grid-template-rows: auto auto auto auto auto;
	grid-row-gap: 20px;

	.index_title{
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.all_posts_filters{
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;

		display: grid;

		grid-template-rows: auto auto;
		grid-row-gap: 20px;

		.ap_sort_search{
			display: grid;

			grid-template-columns: auto auto;

			.ap_sort{

			}

			.ap_search{
				grid-column-start: 2;
				justify-self: end;
			}

		}

		.ap_filter_page_bulk_action{
			display: grid;

			grid-template-columns: auto auto auto auto;

			.ap_page_filter{
				justify-self: center;
			}

			.ap_bulk_action{
				grid-column-start: 4;
				justify-self: end;
			}

		}

	}

	.all_posts_table{
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 3;

		.apt_row{

			.apt_headers_checkbox, .apt_row_checkbox{

				display: grid;
				grid-template-rows: auto auto auto;

				input{
					grid-row-start: 2;
					grid-row-end: 3;
					grid-column-start: 2;
					grid-column-end: 3;
				}

			}

			p{
				margin-bottom: 0;
				line-height: 2.8;
				font-weight: bold;
			}

			a{
				margin-bottom: 0;
				line-height: 2.8;
				color: darken(blue, 15%);
			}
			a:hover, a:active{
				color: lighten(blue, 15%);
				font-weight: bold;
			}

		}

		.apt_headers{
			display: grid;
			text-align: center;
			background-color: lighten(grey, 20%);

			grid-template-columns: 30px auto auto auto auto auto auto;
		}

		.apt_results{
			display: grid;
			text-align: center;
			background-color: white;

			grid-template-columns: 30px auto auto auto auto auto auto;

			.apt_row_column_delete{

				button{
					color: white;
					background-color: lighten(black, 10%);
					border: 2px solid lighten(black, 10%);
					font-weight: bold;
					margin-top: 5px;
					padding: 5px 15px;
					justify-self: center;
				}
			
			}
		}

	}

	.all_posts_pagination{
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 2;
		grid-column-end: 3;

		display: grid;
		grid-template-columns: 40% 20% 40%;

		.pagination_center{
			grid-column-start: 2;
			font-size: 1.3rem;

			display: grid;
			grid-template-columns: auto auto auto auto auto;
			justify-items: center;
		}

	}

}