.all_images_section{
	display: grid;

	grid-template-columns: 10% auto 10%;
	grid-template-rows: auto auto auto auto auto auto;
	grid-row-gap: 20px;

	.image_dropzone{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;

		height: 400px;
		background-color: white;
	}

	.all_images_filters{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;

		display: grid;

		grid-template-rows: auto auto;
		grid-row-gap: 20px;

		.img_sort_search{
			display: grid;

			grid-template-columns: auto auto;

			.img_sort{

				.img_sort_form{

				}

			}

			.img_search{
				grid-column-start: 2;
				justify-self: end;
			}

		}

		.img_filter_page_bulk_action{
			display: grid;

			grid-template-columns: auto auto auto auto;

			.img_filter{
				
			}

			.img_page_filter{
				justify-self: center;
			}

			.img_bulk_action{
				grid-column-start: 4;
				justify-self: end;
			}

		}

	}

	.all_images_display{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 5;

		.display_image_row{
			margin-top: 10px;
			margin-bottom: 10px;
			display: grid; 

			grid-template-columns: auto auto auto;
			grid-column-gap: 15px;

			.display_image_result{
				position: relative;
				height: 400px;
				text-align: center;
				border: 1px solid grey;

				.dir_image{
					position: absolute;
					height: 100%;
					//width: auto;
					width: 100%;
					z-index: 2;
					background-color: black;
				}

				.dir_info{
					position: absolute;
					width: 100%;
					z-index: 4;
					padding: 10px;
					bottom: 0;
					background-color: white;

					.dir_buttons{
						display: grid;
						grid-template-columns: auto auto;
						grid-column-gap: 5px;

						button{
							background-color: black;
							color: white;
							font-weight: bold;
							padding-top: 5px;
							padding-bottom: 5px;
							border: 2px solid black;
						}

					}

				}

			}

		}

	}

	.all_images_pagination{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 6;

		display: grid;
		grid-template-columns: 40% 20% 40%;

		.pagination_center{
			grid-column-start: 2;
			font-size: 1.3rem;

			display: grid;
			grid-template-columns: auto auto auto auto auto;
			justify-items: center;
		}

	}

}