.main_profile_content{
	display: grid;

	grid-template-columns: 10% auto 10%;
	grid-template-rows: 2% auto 2%;
	grid-row-gap: 15px;

	form{
		grid-column-start: 2;
		grid-column-end: 3;

		display: grid;
		grid-template-rows: auto auto auto auto auto;
		grid-row-gap: 15px;

		fieldset{
			background-color: white;
			border-left: 4px solid yellow;
			padding: 30px 30px;
		}

		.profile_general_info{
			display: grid;
			grid-template-columns: 40% 56%;
			grid-column-gap: 20px;

			.pgi_pic{
				border: 1px solid black;
			}

			.pgi_contact{

				.pgic_name, .pgic_phone, .pgic_email, .pgic_location_address, .pgic_billing_address{
					display: grid;
					grid-template-columns: 20% 80%;
				}

				.pgic_location_city_state_zip, .pgic_billing_city_state_zip{
					display: grid;
					grid-template-columns: auto auto auto;
				}

			}

		}

		.profile_coaching_info{
			display: grid;
			//grid-template-columns: auto auto auto;
			grid-template-rows: auto auto;
			grid-row-gap: 10px;

			.pci_row1{
				display: grid;
				grid-template-columns: auto auto auto;
			}

			.pci_row2{
				display: grid;
				grid-template-columns: 10% auto 10%;

				p{
					grid-column-start: 2;
					grid-column-end: 3;

					textarea{
						width: 100%;
						resize: none;
					}

				}
			}

		}

		.profile_client_info{
			display: grid;
			grid-template-rows: auto auto;
			grid-row-gap: 10px;

			.pcli_row1{
				display: grid;
				grid-template-columns: auto auto auto;
			}

			.pcli_row2{
				display: grid;
				grid-template-columns: auto auto;
			}

		}

		.profile_submit_buttons{
			display: grid;
			grid-template-columns: auto auto;

			button{
				padding-top: 15px;
				padding-bottom: 15px;
				color: white;
				border: 1px solid;
			}

			.psb_submit{
				background-color: lighten(black, 10%);
			}

			.psb_cancel{
				background-color: lighten(black, 20%);
			}

		}

	}

}