//--Admin Backend Nav--//
.admin_nav{
	color: white;
	background-color: #081957;
	display: grid;
	box-shadow: 0px 0px 10px grey;

	grid-template-columns: 60% 30% 10%;

	.nav_list, .admin_log{
		list-style-type: none;
		display: grid;
		margin-top: 0.5rem;

		li{

			a{
				color: white;
				text-decoration: none;
			}

		}
	}

	.nav_list{
		font-weight: bold;
		top: 0;

		grid-template-columns: repeat(10, 12%);
	}

	.admin_log{
		grid-column-start: 3;
		grid-template-columns: repeat(2, 50%);

		padding-left: 0;
	}

}
//--Admin Backend Nav Ends--//

