
//--Admin Backend Main Section
.main_section_content{
	display: grid;

	grid-template-columns: 10% 5% 70% 5% 10%;
	grid-template-rows: 1.5% auto auto auto 1.5%;
	grid-row-gap: 45px;

	.greeting_header_section{
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 2;
	}

	//--Dashboard
	.dash_tables{
		grid-column-start: 3;
		grid-column-end: 4;
		display: grid;
		border: 1px solid black;
		box-shadow: 0px 0px 5px black;

		grid-template-rows: 50px 40px auto;

		.dt_row{
			display: grid;
		}

		.dt_title{
			background-color: black;
			color: white;
			font-weight: bold;
			text-align: center;

			p{
				
			}

		}

		.dt_headers{
			background-color: grey;
			text-align: center;

			grid-template-columns: 30px 24% 24% 24% 24%;

			div{
				//align-self: center;
			}

			.dt_head_title{
				background-color: lighten(grey, 10%);
				//align-self: stretch;
				line-height: 2.8;

				p{
					margin-bottom: 0;
				}

			}

			.dt_top_checkbox{
				line-height: 3;
			}

		}

		.dt_results{
			background-color: white;
			min-height: 30px;
			text-align: center;

			grid-template-columns: 30px 24% 24% 24% 24%;

			.dt_row_checkbox{
				line-height: 3;
			}

			.dt_row_column{
				line-height: 2.8;
			}

		}

	}

	.dash_todays_appointments{
		grid-row-start: 3;
	}

	.dash_client_list{
		grid-row-start: 4;

		.dt_headers{
			grid-template-columns: 30px 19% 19% 19% 19% 19%;
		}

		.dt_results{
			grid-template-columns: 30px 19% 19% 19% 19% 19%;
		}

	}

	.dash_posts_comments{
		grid-row-start: 5;

		.dt_headers{
			grid-template-columns: 30px 24% 24% 24% 24%;
		}

		.dt_results{
			grid-template-columns: 30px 24% 24% 24% 24%;
		}
	}
	//--Dashboard Ends

}

//--Admin Backend Main Section Ends--//

.admin_bottom{
	background-color: black;
	color: white;
	text-align: center;

	p{
		padding-top: 10px;
		padding-bottom: 10px;
	}

}