.add_image_section{
	display: grid;

	grid-template-rows: 10% auto 10%;
	grid-template-columns: 15% auto 15%;

	.add_image_form{
		grid-column-start: 2;
		grid-column-end: 3;

		grid-row-start: 2;
		grid-row-end: 3;

		.ai_form{

			fieldset{
				background-color: white;
				border-left: 4px solid yellow;
				border-color: darken(yellow, 20%);
				padding: 10px 30px;
				margin-top: 20px;
				margin-bottom: 20px;

				input, textarea{
					width: 100%;
				}

			}

			.ai_image_area{
				text-align: center;
				padding: 30px 30px;
			}

			.ai_form_body{

				.ai_form_body_buttons{
					display: grid;
					margin-bottom: 20px;

					grid-template-columns: auto auto;
					grid-column-gap: 10px;

				}

			}

			.ai_form_finish_buttons{
				display: grid;

				grid-template-columns: auto auto;
				grid-column-gap: 10px;

				button{
					padding-top: 15px;
					padding-bottom: 15px;
					color: white;
					border: 1px solid;
				}

				.aif_submit{
					background-color: lighten(black, 10%);
				}

				.aif_delete{
					background-color: lighten(black, 20%)
				}

			}

		}

	}

}