//screen widths: 1280, 1024, 720, 480, 320
@keyframes heroImageFade{

}

html, body{
	margin: 0;
	padding: 0;
	background-color: black;
}
body{
	.blocker{
		z-index: 8;
	}

	.menu-hamburger{
		position: fixed;
		z-index: 950;
		width: 76px;
		height: 10%;
		background-color: rgba(0, 0, 0, 0.3);

		.hamb-open{
			height: 50%;
			width: 50%;
			margin-top: 50%;
			margin-left: 50%;
			transform: translate(-50%, -50%);
		}
		.hamb-close{
			display: none;
			height: 50%;
			width: 50%;
			margin-top: 50%;
			margin-left: 50%;
			transform: translate(-50%, -50%);
		}

	}
	.menu-hamburger:hover{
		cursor: pointer;
	}
	
	.sticky-menu{
		position: fixed;
		z-index: 900;
		height: 10%;
		width: calc(100% - 76px);
		right: 0;
		background-color: rgba(0, 0, 0, 0.8);
		//width: 100%;
		text-align: center;
		//font-family: 'Noto Sans', sans-serif;
		font-family: sans-serif;
		font-size: 15px;
		text-transform: uppercase;

		display: grid;
		grid-template-columns: auto auto auto auto;

		div{
			color: darken(grey, 15%);
			transition: border-bottom 0.3s ease, background-color 0.4s ease;
		}

		div:hover{
			color: white;
			cursor: pointer;
			border-bottom: 4px solid lighten(orange, 10%);
			background-color: rgba(90, 90, 90, 0.5);
		}

	}
	.sticky-menu-mobile{
		display: none;
	}

	#hero-section{
		height: 100vh;

		display: grid;
		grid-template-rows: 10% auto 10%;
		//grid-template-columns: 20% auto 20%;
		grid-template-columns: 55% auto;

		//background-color: yellow;
		background-image: url('images/heroimagebg1.jpeg');
		background-size: 100%;
		background-position: center;

		@media(max-width: 1024px){
			background-size: cover;
		}
		@media(max-width: 720px){
			grid-template-columns: 8% auto 8%;
		}
		@media(max-width: 480px){
			grid-template-columns: 2% auto 2%;
		}

		.inner-content{
			grid-row-start: 2;
			grid-column-start: 1;
			grid-row-end: 3;
			grid-column-end: 2;

			display: grid;
			grid-template-rows: 15% 45% auto;
			grid-row-gap: 10px;

			//background-color: red;

			@media(max-width: 720px){
				text-align: center;
				grid-column-start: 2;
				grid-column-end: 3;
			}

			.hero-text{
				font-size: 25px;
				grid-row-start: 2;
				padding: 25px;
				color: white;

				background-color: rgba(0, 0, 0, 0.5);

				@media(max-width: 720px){
					padding: 10px;
				}

				h1{
					font-family: 'Hammersmith One', sans-serif;

					@media(max-width: 720px){
						margin-top: 10px;
						margin-bottom: 10px;
					}
				}

				p{
					font-family: 'Raleway', sans-serif;
				}

			}

			.hero-nav-buttons{
				grid-row-start: 3;
				align-self: center;
				padding-top: 30px;
				padding-bottom: 30px;
				padding-left: 30px;

				display: grid;
				grid-template-columns: 30% 30% 30%;
				grid-column-gap: 10px;

				background-color: rgba(0, 0, 0, 0.5);

				@media(max-width: 480px){
					grid-template-columns: auto;
					grid-row-gap: 10px;
					padding: 30px 10px;
				}

				button{
					background-color: lighten(orange, 10%);
					border: 4px solid lighten(orange, 10%);
					font-weight: bold;
					padding: 10px;
					transition: background-color 0.5s ease;
				}
				button:hover{
					cursor: pointer;
					background-color: white;
				}

			}

		}

	}

	#past-work{
		height: 0;

		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto 1000px auto;
		grid-row-gap: 10px;

		background-color: lighten(orange, 40%);

		@media(max-width: 1024px){
			grid-template-columns: auto 900px auto;
		}
		@media(max-width: 900px){
			grid-template-columns: auto 750px auto;
		}
		@media(max-width: 720px){
			grid-template-columns: auto 600px auto;
		}
		@media(max-width: 600px){
			grid-template-columns: auto 300px auto;
		}

		#pw-modal{
			display: none;
			z-index: 8;
		}

		.project-title-here{
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
			text-align: center;
			color: white;
		}

		.projects-display{
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
			//overflow-y: scroll;

			display: grid;
			grid-template-columns: repeat(3, auto);

			//background-color: red;

			@media(max-width: 720px){
				grid-template-columns: repeat(2, auto);
			}
			@media(max-width: 600px){
				grid-template-columns: auto;
			}

			.project-block{
				position: relative;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
				overflow: hidden;
				height: 300px;
				margin: 10px;

				background-color: black;

				@media(max-width: 600px){
					height: 200px;
				}

				.proj-thumbnail{
					position: absolute;
					display: block;
					z-index: 2;
					height: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					transition: height 0.3s ease, filter 0.3s ease;
				}

				.proj-overlay{
					position: absolute;
					z-index: 4;
					bottom: 0;
					height: 20%;
					width: 100%;
					background-color: rgba(255, 255, 255, 0.7);
					transition: height 0.3s ease;

					.p-overlay-text{
						position: absolute;
						z-index: 6;
						top: 50%;
						left: 50%;
						width: 95%;
						transform: translate(-50%,-50%);

						display: grid;
						grid-template-columns: 60% 40%;

						.proj-overlay-title{
							text-align: center;
							align-self: center;
							font-family: 'Roboto', sans-serif;
						}

						a{
							text-align: right;

							.proj-overlay-viewbutton{
								border: 3px solid darken(grey, 40%);
								background-color: darken(grey, 40%);
								color: white;
								padding: 10px;
								cursor: pointer;
								font-weight: bold;
								transition: background-color 0.5s ease, color 0.4s ease;
							}
							.proj-overlay-viewbutton:hover{
								background-color: white;
								color: darken(grey, 40%);
							}

						}

					}

				}

			}
			.project-block:hover .proj-thumbnail{
				height: 120%;
				-webkit-filter: grayscale(20%);
				filter: sepia(60%);
			}
			.project-block:hover .proj-overlay{
				height: 30%;
				background-color: rgba(245, 245, 245, 0.9);
			}

		}

	}

	#coding-languages{
		height: 100vh;

		display: grid;
		grid-template-rows: 15% auto 15%;
		grid-template-columns: 10% auto auto auto 10%;
		grid-column-gap: 30px;

		background-color: lighten(orange, 40%);

		@media(max-width: 1048px){
			grid-template-columns: 5% auto auto auto 5%;
		}
		@media(max-width: 900px){
			grid-template-columns: 2% auto auto auto 2%;
		}
		@media(max-width: 720px){
			grid-template-columns: 0.5% auto auto auto 0.5%;
		}
		@media(max-width: 700px){
			height: auto;
			grid-template-rows: 15% auto auto auto 15%;
			grid-template-columns: 10% auto 10%;
		}
		
		.cd-sections{
			background-color: red;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

			display: grid;
			grid-template-rows: 50% 50%;
			transition: grid-template-rows 0.3s ease;

			.cdsection-info{
				//height: 50%;
				background-color: lighten(grey, 45%);
				border: lighten(grey, 45%);
				font-family: 'Hind', sans-serif;

				display: grid;
				grid-template-rows: 15% auto 20%;

				.cdsection-info-title{
					grid-row-start: 1;
					border-bottom: 1px solid lighten(grey, 10%);
					padding: 0 10px;

					h2{
						margin: 0px;
					}

				}

				.cdsection-info-content{
					grid-row-start: 2;
					grid-row-end: 3;
					overflow: hidden;
					//height: 60%;
					background-color: lighten(grey, 35%);
					padding: 0 10px;
				}

				.read-more-row{
					grid-row-start: 3;
					grid-row-end: 4;
					text-align: center;

					display: grid;
					grid-template-rows: repeat(3, auto);
					grid-template-columns: repeat(3, auto);
					
					button{
						grid-row-start: 2;
						grid-column-start: 2;
						border: 3px solid darken(grey, 40%);
						background-color: darken(grey, 40%);
						color: white;
						padding: 7px;
						font-weight: bold;
						transition: background-color 0.5s ease, color 0.4s ease;
					}
					button:hover{
						cursor: pointer;
						color: darken(grey, 40%);
						background-color: white;
					}

				}

			}

			.cdsection-thumbnail{
				background-color: black;
			}

		}
		#backend-section{
			grid-row-start: 2;
			grid-row-end: 2;
			grid-column-start: 2;
			grid-column-end: 3;

			.cdsection-thumbnail{
				background-image: url('images/php.jpeg');
				background-size: cover;
			}

		}
		#frontend-section{
			grid-row-start: 2;
			grid-row-end: 2;
			grid-column-start: 3;
			grid-column-end: 4;

			@media(max-width: 700px){
				grid-row-start: 3;
				grid-row-end: 4;
				grid-column-start: 2;
				grid-column-end: 3;
			}

			.cdsection-thumbnail{
				background-image: url('images/frontend.jpeg');
				background-size: cover;
			}

		}
		#misc-section{
			grid-row-start: 2;
			grid-row-end: 2;
			grid-column-start: 4;
			grid-column-end: 5;

			@media(max-width: 700px){
				grid-row-start: 4;
				grid-row-end: 5;
				grid-column-start: 2;
				grid-column-end: 3;
			}

			.cdsection-thumbnail{
				background-image: url('images/misc-pic.jpeg');
				background-size: cover;
			}

		}

	}

	#contact-me{
		height: 0;
		font-family: 'Roboto', sans-serif;

		display: grid;
		grid-template-columns: auto 400px auto;
		grid-template-rows: 15% auto 15%;
		
		background-image: url('images/contactmebg.jpeg');
		background-position: center;
		background-size: cover;

		@media(max-width: 720px){
			grid-template-columns: auto 300px auto;
		}

		#my-contact-form{
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 3;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

			background-color: white;

			form{

				.contact-title{
					border: 1px solid teal;
					padding: 0 10px;
					background-color: teal;
					color: white;

					h3{

					}

				}

				fieldset{
					border: none;
					padding: 20px 10px;

					@media(max-width: 720px){
						padding: 10px 10px;
					}

					input{
						background-color: lighten(grey, 30%);
						border: none;
						transition: all 0.3s ease;
					}
					input:focus{
						background-color: lighten(grey, 40%);
						border-bottom: 1px solid lighten(orange, 10%);
					}

					input, select{
						width: 100%;
						padding: 10px 0px;
						font-family: 'Roboto', sans-serif;
					}

				}

				.name-field{
					display: grid;
					grid-template-columns: auto auto;
					grid-column-gap: 20px;

					@media(max-width: 720px){
						grid-template-columns: auto;
						grid-row-gap: 20px;
					}

				}

				.captcha-area{
					text-align: center;
					padding: 50px;
					background-color: lighten(grey, 20%);
				}

				.submit-row{
					padding: 10px;

					input{
						font-weight: bold;
						border: 3px solid darken(grey, 40%);
						background-color: darken(grey, 40%);
						color: white;
						width: 100%;
						padding: 6px;
						cursor: pointer;
						transition: color 0.4s ease, background-color 0.4s ease;
					}
					input:hover{
						background-color: white;
						color: darken(grey, 40%);
					}

				}

			}

		}

	}

}