html, body {
  margin: 0;
  padding: 0;
  background-color: black; }

body .blocker {
  z-index: 8; }
body .menu-hamburger {
  position: fixed;
  z-index: 950;
  width: 76px;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3); }
  body .menu-hamburger .hamb-open {
    height: 50%;
    width: 50%;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%); }
  body .menu-hamburger .hamb-close {
    display: none;
    height: 50%;
    width: 50%;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%); }
body .menu-hamburger:hover {
  cursor: pointer; }
body .sticky-menu {
  position: fixed;
  z-index: 900;
  height: 10%;
  width: calc(100% - 76px);
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto auto auto auto; }
  body .sticky-menu div {
    color: #5a5a5a;
    transition: border-bottom 0.3s ease, background-color 0.4s ease; }
  body .sticky-menu div:hover {
    color: white;
    cursor: pointer;
    border-bottom: 4px solid #ffb733;
    background-color: rgba(90, 90, 90, 0.5); }
body .sticky-menu-mobile {
  display: none; }
body #hero-section {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% auto 10%;
  grid-template-columns: 55% auto;
  background-image: url("images/heroimagebg1.jpeg");
  background-size: 100%;
  background-position: center; }
  @media (max-width: 1024px) {
    body #hero-section {
      background-size: cover; } }
  @media (max-width: 720px) {
    body #hero-section {
      grid-template-columns: 8% auto 8%; } }
  @media (max-width: 480px) {
    body #hero-section {
      grid-template-columns: 2% auto 2%; } }
  body #hero-section .inner-content {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: 15% 45% auto;
    grid-row-gap: 10px; }
    @media (max-width: 720px) {
      body #hero-section .inner-content {
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3; } }
    body #hero-section .inner-content .hero-text {
      font-size: 25px;
      grid-row-start: 2;
      padding: 25px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5); }
      @media (max-width: 720px) {
        body #hero-section .inner-content .hero-text {
          padding: 10px; } }
      body #hero-section .inner-content .hero-text h1 {
        font-family: 'Hammersmith One', sans-serif; }
        @media (max-width: 720px) {
          body #hero-section .inner-content .hero-text h1 {
            margin-top: 10px;
            margin-bottom: 10px; } }
      body #hero-section .inner-content .hero-text p {
        font-family: 'Raleway', sans-serif; }
    body #hero-section .inner-content .hero-nav-buttons {
      grid-row-start: 3;
      align-self: center;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-column-gap: 10px;
      background-color: rgba(0, 0, 0, 0.5); }
      @media (max-width: 480px) {
        body #hero-section .inner-content .hero-nav-buttons {
          grid-template-columns: auto;
          grid-row-gap: 10px;
          padding: 30px 10px; } }
      body #hero-section .inner-content .hero-nav-buttons button {
        background-color: #ffb733;
        border: 4px solid #ffb733;
        font-weight: bold;
        padding: 10px;
        transition: background-color 0.5s ease; }
      body #hero-section .inner-content .hero-nav-buttons button:hover {
        cursor: pointer;
        background-color: white; }
body #past-work {
  height: 0;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1000px auto;
  grid-row-gap: 10px;
  background-color: #ffedcc; }
  @media (max-width: 1024px) {
    body #past-work {
      grid-template-columns: auto 900px auto; } }
  @media (max-width: 900px) {
    body #past-work {
      grid-template-columns: auto 750px auto; } }
  @media (max-width: 720px) {
    body #past-work {
      grid-template-columns: auto 600px auto; } }
  @media (max-width: 600px) {
    body #past-work {
      grid-template-columns: auto 300px auto; } }
  body #past-work #pw-modal {
    display: none;
    z-index: 8; }
  body #past-work .project-title-here {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    color: white; }
  body #past-work .projects-display {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(3, auto); }
    @media (max-width: 720px) {
      body #past-work .projects-display {
        grid-template-columns: repeat(2, auto); } }
    @media (max-width: 600px) {
      body #past-work .projects-display {
        grid-template-columns: auto; } }
    body #past-work .projects-display .project-block {
      position: relative;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      overflow: hidden;
      height: 300px;
      margin: 10px;
      background-color: black; }
      @media (max-width: 600px) {
        body #past-work .projects-display .project-block {
          height: 200px; } }
      body #past-work .projects-display .project-block .proj-thumbnail {
        position: absolute;
        display: block;
        z-index: 2;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: height 0.3s ease, filter 0.3s ease; }
      body #past-work .projects-display .project-block .proj-overlay {
        position: absolute;
        z-index: 4;
        bottom: 0;
        height: 20%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        transition: height 0.3s ease; }
        body #past-work .projects-display .project-block .proj-overlay .p-overlay-text {
          position: absolute;
          z-index: 6;
          top: 50%;
          left: 50%;
          width: 95%;
          transform: translate(-50%, -50%);
          display: grid;
          grid-template-columns: 60% 40%; }
          body #past-work .projects-display .project-block .proj-overlay .p-overlay-text .proj-overlay-title {
            text-align: center;
            align-self: center;
            font-family: 'Roboto', sans-serif; }
          body #past-work .projects-display .project-block .proj-overlay .p-overlay-text a {
            text-align: right; }
            body #past-work .projects-display .project-block .proj-overlay .p-overlay-text a .proj-overlay-viewbutton {
              border: 3px solid #1a1a1a;
              background-color: #1a1a1a;
              color: white;
              padding: 10px;
              cursor: pointer;
              font-weight: bold;
              transition: background-color 0.5s ease, color 0.4s ease; }
            body #past-work .projects-display .project-block .proj-overlay .p-overlay-text a .proj-overlay-viewbutton:hover {
              background-color: white;
              color: #1a1a1a; }
    body #past-work .projects-display .project-block:hover .proj-thumbnail {
      height: 120%;
      -webkit-filter: grayscale(20%);
      filter: sepia(60%); }
    body #past-work .projects-display .project-block:hover .proj-overlay {
      height: 30%;
      background-color: rgba(245, 245, 245, 0.9); }
body #coding-languages {
  height: 100vh;
  display: grid;
  grid-template-rows: 15% auto 15%;
  grid-template-columns: 10% auto auto auto 10%;
  grid-column-gap: 30px;
  background-color: #ffedcc; }
  @media (max-width: 1048px) {
    body #coding-languages {
      grid-template-columns: 5% auto auto auto 5%; } }
  @media (max-width: 900px) {
    body #coding-languages {
      grid-template-columns: 2% auto auto auto 2%; } }
  @media (max-width: 720px) {
    body #coding-languages {
      grid-template-columns: 0.5% auto auto auto 0.5%; } }
  @media (max-width: 700px) {
    body #coding-languages {
      height: auto;
      grid-template-rows: 15% auto auto auto 15%;
      grid-template-columns: 10% auto 10%; } }
  body #coding-languages .cd-sections {
    background-color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-rows: 50% 50%;
    transition: grid-template-rows 0.3s ease; }
    body #coding-languages .cd-sections .cdsection-info {
      background-color: #f3f3f3;
      border: #f3f3f3;
      font-family: 'Hind', sans-serif;
      display: grid;
      grid-template-rows: 15% auto 20%; }
      body #coding-languages .cd-sections .cdsection-info .cdsection-info-title {
        grid-row-start: 1;
        border-bottom: 1px solid #9a9a9a;
        padding: 0 10px; }
        body #coding-languages .cd-sections .cdsection-info .cdsection-info-title h2 {
          margin: 0px; }
      body #coding-languages .cd-sections .cdsection-info .cdsection-info-content {
        grid-row-start: 2;
        grid-row-end: 3;
        overflow: hidden;
        background-color: #d9d9d9;
        padding: 0 10px; }
      body #coding-languages .cd-sections .cdsection-info .read-more-row {
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, auto); }
        body #coding-languages .cd-sections .cdsection-info .read-more-row button {
          grid-row-start: 2;
          grid-column-start: 2;
          border: 3px solid #1a1a1a;
          background-color: #1a1a1a;
          color: white;
          padding: 7px;
          font-weight: bold;
          transition: background-color 0.5s ease, color 0.4s ease; }
        body #coding-languages .cd-sections .cdsection-info .read-more-row button:hover {
          cursor: pointer;
          color: #1a1a1a;
          background-color: white; }
    body #coding-languages .cd-sections .cdsection-thumbnail {
      background-color: black; }
  body #coding-languages #backend-section {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3; }
    body #coding-languages #backend-section .cdsection-thumbnail {
      background-image: url("images/php.jpeg");
      background-size: cover; }
  body #coding-languages #frontend-section {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4; }
    @media (max-width: 700px) {
      body #coding-languages #frontend-section {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3; } }
    body #coding-languages #frontend-section .cdsection-thumbnail {
      background-image: url("images/frontend.jpeg");
      background-size: cover; }
  body #coding-languages #misc-section {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5; }
    @media (max-width: 700px) {
      body #coding-languages #misc-section {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3; } }
    body #coding-languages #misc-section .cdsection-thumbnail {
      background-image: url("images/misc-pic.jpeg");
      background-size: cover; }
body #contact-me {
  height: 0;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: auto 400px auto;
  grid-template-rows: 15% auto 15%;
  background-image: url("images/contactmebg.jpeg");
  background-position: center;
  background-size: cover; }
  @media (max-width: 720px) {
    body #contact-me {
      grid-template-columns: auto 300px auto; } }
  body #contact-me #my-contact-form {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: white; }
    body #contact-me #my-contact-form form .contact-title {
      border: 1px solid teal;
      padding: 0 10px;
      background-color: teal;
      color: white; }
    body #contact-me #my-contact-form form fieldset {
      border: none;
      padding: 20px 10px; }
      @media (max-width: 720px) {
        body #contact-me #my-contact-form form fieldset {
          padding: 10px 10px; } }
      body #contact-me #my-contact-form form fieldset input {
        background-color: #cdcdcd;
        border: none;
        transition: all 0.3s ease; }
      body #contact-me #my-contact-form form fieldset input:focus {
        background-color: #e6e6e6;
        border-bottom: 1px solid #ffb733; }
      body #contact-me #my-contact-form form fieldset input, body #contact-me #my-contact-form form fieldset select {
        width: 100%;
        padding: 10px 0px;
        font-family: 'Roboto', sans-serif; }
    body #contact-me #my-contact-form form .name-field {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 20px; }
      @media (max-width: 720px) {
        body #contact-me #my-contact-form form .name-field {
          grid-template-columns: auto;
          grid-row-gap: 20px; } }
    body #contact-me #my-contact-form form .captcha-area {
      text-align: center;
      padding: 50px;
      background-color: #b3b3b3; }
    body #contact-me #my-contact-form form .submit-row {
      padding: 10px; }
      body #contact-me #my-contact-form form .submit-row input {
        font-weight: bold;
        border: 3px solid #1a1a1a;
        background-color: #1a1a1a;
        color: white;
        width: 100%;
        padding: 6px;
        cursor: pointer;
        transition: color 0.4s ease, background-color 0.4s ease; }
      body #contact-me #my-contact-form form .submit-row input:hover {
        background-color: white;
        color: #1a1a1a; }

/*# sourceMappingURL=style.css.map */
