
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	position: relative;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
//--------Ironwilled Website

//--Admin Backend--//

.main_section{
	min-height: 100vh;
	background-color: #dedcdc;
	padding-top: 40px;
	padding-bottom: 40px;
}

//--Admin Modals--//

@import 'backend/modals/add_edit_paragraphs';
@import 'backend/modals/add_edit_images';
@import 'backend/modals/add_edit_videos';
@import 'backend/modals/check_progress';

//--Admin Modals Ends--//

@import 'backend/backend_nav';

@import 'backend/dashboard';

@import 'backend/all_clients';
@import 'backend/back_profile';

@import 'backend/add_post';
@import 'backend/all_posts';

@import 'backend/add_package';
@import 'backend/all_packages';

@import 'backend/add_video';
@import 'backend/all_videos';

@import 'backend/edit_image';
@import 'backend/all_images';

//--Admin Backend Ends--//